* {
    margin: 0;
    padding: 0;
}

:root {
    --cursor-default: url(../cursor/default.cur), default;
    --cursor-aim: url(../cursor/aim.cur), pointer;
    --cursor-attack: url(../cursor/attack.cur), pointer;
    --cursor-attack-candidate: url(../cursor/attack-candidate.cur), pointer;
    --cursor-attack-disable: url(../cursor/attack-disable.cur), not-allowed;
    --cursor-disable: url(../cursor/disable.cur), not-allowed;
    --cursor-nav: url(../cursor/nav.cur), pointer;
    --cursor-repair: url(../cursor/repair.cur), pointer;
    --cursor-res-recovery: url(../cursor/res-recovery.cur), pointer;
    --cursor-scan: url(../cursor/scan.cur), pointer;
    --cursor-scan-abuser: url(../cursor/scan-abuser.cur), pointer;
    --cursor-scan-disable: url(../cursor/scan-disable.cur), not-allowed;
    --cursor-scan-general: url(../cursor/scan-general.cur), pointer;
}

body {
    background: #1d5a83;
    background: -webkit-radial-gradient(center ellipse, #0a2e38 0%, #000000 100%);
    background: radial-gradient(ellipse at center, #1b5e70 0%, #061f25 100%);
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    color: #FFF;
    cursor: var(--cursor-default);
}

#game-window {
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#game-launcher-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}