#echo-mini {
    width: calc(100vw - 435px);
    height: auto;
    position: fixed;
    bottom: 74px;
    left: 0;
    z-index: 100;
    pointer-events: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    align-items: flex-start;
    font-size: 14px;
}

.echo-mini-item {
    display: flex;
    align-items: flex-end;
    max-height: unset;
    animation: echo-mini-item-show .3s ease-out;
}

.echo-mini-item .echo-mini-item-box {
    background-color: rgba(49, 133, 156, 0.35);
    padding: 0.5em 1em 0.5em 1.75em;
    margin-top: 5px;
    border-right: 3px solid rgba(49, 133, 156, 0.35);
}

.echo-mini-item.warning .echo-mini-item-box {
    background-color: rgba(255, 199, 32, 0.35);
    border-right: 3px solid rgba(255, 199, 32, 0.75);
}

.echo-mini-item.danger .echo-mini-item-box {
    background-color: rgba(255, 32, 32, 0.35);
    border-right: 3px solid #FF4040;
}

@keyframes echo-mini-item-show {
    from {
        opacity: 0;
        position: relative;
        left: -50px;
    }
    to {
        opacity: 1;
        position: relative;
        left: 0;
    }
}

.echo-mini-item:nth-child(4) {opacity: 0.75;}
.echo-mini-item:nth-child(5) {opacity: 0.5;}
.echo-mini-item:nth-child(6) {opacity: 0.25;}
.echo-mini-item:nth-child(n+7) {opacity: 0;}